/* Reset and base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll; /* ← aqui */
}

html, body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  overflow-x: hidden;
}

/* Header */
body {
  margin-top: 140px; /* Correcção no espaçamento para header fixo */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 140px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.header-container {
  display: grid;
  max-width: 1440px;
  width: 100%;
  height: 140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* LOGO */
.logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo img {
  height: 140px;
  max-width: 100%;
  object-fit: contain;
}


/* Nav */
.nav-links {
  flex: 2;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.nav-links a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 18px;
}

/* Contact */
.contact-button {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.contact-button a {
  background-color: #e60023;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s;
}
.contact-button a:hover {
  background-color: #b80000;
}

/* LINK */
a.logo {
  text-decoration: none;
  color: inherit;
}
a.logo::after {
  content: none !important;
}

/* Responsividade */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }

  .nav-links,
  .contact-button {
    margin-top: 10px;
  }

  .nav-links a {
    display: block;
    margin: 5px 0;
  }
}

/* Banner */
.banner {
  background-color: #a0a0a0;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Garantir que o conteúdo do banner não se mova */
  padding-top: 140px; /* Garantir que o conteúdo do banner não suba ou desça */
  top: 0; /* Manter o banner fixo na posição inicial */
}

.search-frame {
  background-color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 12px;
  max-width: 900px;
  width: 100%;
}
