* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: #000000; 
    color: #ffffff;      
}


tooltip {
    background: #000000;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #000000;
}

#workspaces button {
    padding: 5px;
    color: #ffffff;
    margin-right: 5px;
}

#workspaces button.active {
    color: #ff0000;
}

#workspaces button.focused {
    color: #ff0000;
    background: #000000;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #3a0000;
    background: #000000;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #000000;
    color: #ffffff;
    border-radius: 10px;
}


#clock,
#pulseaudio,
#network,
#workspaces {
    background: #000000;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}



#custom-fastfetch_cava {
    background: #000000;
    color: #ffffff;
    font-size: 16px;
    padding: 3px 5px;
    border-radius: 8px;
    border: 2px solid #000000;
    font-family: "JetBrainsMono Nerd Font";
    margin-left: 10px;
    margin-right: 15px
}

#clock {
    border-left: 2px solid #ffffff;  /* Borda esquerda */
    border-right: 2px solid #ffffff; /* Borda direita */
    padding-left: 10px;
    padding-right: 10px;
}



#pulseaudio {
    color: #ffffff;
    border-left:  0px;
    border-right: 0px;
    margin-left: 10px;  
}

#network {
    padding-right: 12px;
    color: #ffffff; 
    border-radius: 0px 0px 0px 10px;
    border-left:  10px;
    border-right: 5px;
    margin-right: 10px;  
}

#custom-power {
    color: #ffffff;  
    background: transparent;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
}

#custom-power:hover {
    background: rgba(255, 0, 0, 0.2); 
}
