* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: #000000; 
    color: #ffffff;      
}

tooltip {
    background: #000000;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #000000;
}

#workspaces button {
    padding: 5px;
    color: #ffffff;
    margin-right: 5px;
}

#workspaces button.active {
    color: #ff0000;
}

#workspaces button.focused {
    color: #ff0000;
    background: #000000;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #3a0000;
    background: #000000;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #000000;
    color: #ffffff;
    border-radius: 10px;
}

#clock,
#pulseaudio,
#network,
#battery,
#workspaces {
    background: #000000;
    border-radius: 10px;
    margin-left: 2px;
    padding: 5px 10px;
}

#custom-power {
    color: #ffffff;  
    background: transparent;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 2px;
}

#custom-power:hover {
    background: rgba(255, 0, 0, 0.2); 
}

#clock {
    border-left: 2px solid #ffffff;  
    border-right: 2px solid #ffffff; 
    padding-left: 10px;
    padding-right: 10px;
}

#custom-fastfetch_cava {
    background: #000000;
    color: #ffffff;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid #000000;
    font-family: "JetBrainsMono Nerd Font";
    margin-left: 2px;
    margin-right: 0px;
}

#network {
    color: #ffffff; 
    border-radius: 10px;
    margin-left: 2px;
    margin-right: 0px;
}

#pulseaudio {
    color: #ffffff;
    margin-left: 2px;
    margin-right: 0px;
}

#battery {
    background: #000000;
    color: #ffffff;
    border-radius: 10px;
    margin-left: 2px;
    padding: 5px 10px;
}
